<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>通过controller 进行发送消息</h2>
<input type="text" id="sendMessage"><button οnclick="controllerSend()" class="send">登陆</button>
</body>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script language="JavaScript">
    $(".send").click( function (){
        var sendIput = document.getElementById("sendMessage");
        var sendMessage = sendIput.value;
        if(sendMessage.trim() == ""){
            alert("请输入发送消息！")
            return;
        }
        //创建异步对象
        // var xhr = new XMLHttpRequest();
        // //设置请求的类型及url
        // xhr.open('get', 'http://localhost:7878/socket/msg?message='+sendMessage );
        // //发送请求
        // xhr.send();
        // xhr.onreadystatechange = function () {
        //     // 这步为判断服务器是否正确响应
        //     if (xhr.readyState == 4 && xhr.status == 200) {
        //         console.log(xhr.responseText);
        //     }
        // };
    })
</script>
</html>